@if (vagaAberta) {
  <div class="container">
    <div class="row flex-column flex-md-row"> 
      @for (emprego of empregos; track emprego.empresa) {
        <div class="col-12 col-md-6 col-lg-4 mb-4"> 
          <div class="card h-100">
            <div class="card-body d-flex flex-column flex-md-row align-items-center">
              <div class="me-3">
                <app-foto 
                  [logo]="emprego.logo" 
                  class="img-fluid rounded-circle border mb-3" 
                  width="80" 
                  height="80" 
                  style="max-width: 80px; max-height: 80px;">
                </app-foto>
              </div>
              <div class="flex-grow-1">
                <app-titulo 
                  [empresa]="emprego.empresa" 
                  [cargo]="emprego.cargo" 
                  [status]="emprego.status"
                  class="card-title mb-2">
                </app-titulo>
                <app-descricao 
                  [tempo_registrado]="emprego.tempo_registrado" 
                  [tipo_trabalho]="emprego.tipo_trabalho" 
                  [localizacao]="emprego.localizacao"
                  class="card-text mb-3">
                </app-descricao>
              </div>
              <div>
                <app-categoria 
                  [habilidades]="emprego.habilidades" 
                  class="categoria-container">
                </app-categoria>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <p>Sem emprego</p>
}
