.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.habilidades button {
  background-color: #eef6f6; 
  color: #5a7f7f; 
  border: none; 
  border-radius: 5px; 
  padding: 8px 12px; 
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.habilidades button:hover {
  background-color: #5a7f7f; 
  color: white;
}